<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tonimiquelllullamengual.teatre_mallorca">

    <application
        android:allowBackup="true"
        android:icon="@drawable/theater"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Teatre Mallorca"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OcupacioButaques"
            android:label="Pati de butaques" />
        <activity
            android:name=".NovaObra"
            android:label="Nova obra" />
        <activity
            android:name=".NovaObraDates"
            android:label="Selecció de dates" />
        <activity
            android:name=".LlistarObres"
            android:label="Llistat obres" />
        <activity
            android:name=".ConfirmarCompra"
            android:label="Confirmar la compra" />
        <activity
            android:name=".EliminarObra"
            android:label="Eliminar obra" />
        <activity
            android:name=".InfoObra"
            android:label="Info obra" />
        <activity
            android:name=".LlistarDies"
            android:label="Llista de funcions" />
        <activity
            android:name=".LlistarUsuaris"
            android:label="Usuaris" />
        <activity android:name=".Help" />
        <activity android:name=".Estadistiques"></activity>
    </application>

</manifest>